body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust the margin between the image/logo and the form */
}

.image {
  width: 200px; 
  height: auto; 
}

.logo {
  width: 100px; 
  height: auto; 
}

.right-content {
  max-width: 400px; 
}